<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0  user-scalable=no">
    <title>Heard It!</title>
    <link rel="stylesheet" href="styles/home.css">

</head>
<body>
    <header>
        <div class="down_triangle">
            <img id="page_title" src="./imgs/title.svg"></img>
            <div class="underline"id="underline1"></div>
            <div class="underline"id="underline2"></div>
            <div class="underline"id="underline3"></div>
            <div class="underline"id="underline4"></div>
        </div>
    </header>
    <main>
        <div id="input_container">
            <div class="speaker"id="speaker1">
                <div class="inner_circle">
                    <div class="inner_most_circle">

                    </div>
                </div>
            </div>

            <div class="speaker"id="speaker2">
                <div class="inner_circle">
                    <div class="inner_most_circle">

                    </div>
                </div>
            </div>
            <input type="text" placeholder="Select an Artist to Begin:" id="artist_input" name="artist">

            <button id="submit"><span>Lets Play!</span></button>
        </div>
        <div class="eighth" id="eighth1"></div>
        <div class="eighth" id="eighth2"></div>
        <div class="quarter" id="quarter1"></div>
        <div class="quarter" id="quarter2"></div>
    </main>

    <footer>
        <!-- made by micah gagerman -->
        <h5>Made by: Micah Gagerman :)</h5>
    </footer>

    <script src="scripts/home.js"></script>
   
</body>
</html>